.vscode/
dependencies.lock

**/.ipynb_checkpoints/
**/*.pyc
**/__pycache__/
.venv/

data/
build_master/
build_master_c3/
build_slave/
build/
.clangd
sdkconfig
**/.*.swp
docs/fts-presa-extracted
**/.~lock.*#
.DS_Store
bin/config.local
