.vscode/
dependencies.lock

**/.ipynb_checkpoints/
**/*.pyc
**/__pycache__/
**/.*.swp
**/.~lock.*#
.DS_Store

.venv/

data/
build_*/
build/

.clangd
sdkconfig
sdkconfig.local
bin/config.local

docs/fts-presa-extracted