# Enable FTM support
CONFIG_ESP_WIFI_FTM_ENABLE=y

# TinyUSB NCM (required for USB-NCM mode)
CONFIG_TINYUSB_NET_MODE_NCM=n
#CONFIG_TINYUSB_TASK_AFFINITY_CPU0=y
#CONFIG_TINYUSB_INIT_IN_DEFAULT_TASK=y

# Disable USB-Serial-JTAG to allow TinyUSB to use USB OTG
# (not clear if this is required)
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
#CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
#CONFIG_USJ_ENABLE_USB_SERIAL_JTAG=n

# CPU frequency - 240MHz for maximum performance and precise timing
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# FreeRTOS tick rate - 1000Hz (1ms resolution) for better timestamp precision
CONFIG_FREERTOS_HZ=1000

# --- FTS ---
CONFIG_FTS_MODE_INTERNAL_AP=y
#CONFIG_FTS_MODE_EXTERNAL_AP=y
CONFIG_FTS_MODE_USB_NCM=n

# MQTT Configuration
CONFIG_FTS_MQTT_ENABLED=y
CONFIG_FTS_MQTT_BROKER_URI="mqtt://192.168.129.206:1883"

# --- FTS TEST ---
#CONFIG_FTS_MAC_TIMER_ALIGNMENT_TEST_CYCLES=100
#CONFIG_FTS_TEST_ALIGN_ONCE=y
#CONFIG_FTS_CSV_OUTPUT=y
# lwIP debugging for DHCP
#CONFIG_LWIP_DEBUG=y
#CONFIG_LWIP_DHCP_DEBUG=y

CONFIG_FTS_ROLE_SLAVE=y