# Time Sync Configuration - SLAVE 4 role (ESP32-C3)
CONFIG_FTS_ROLE_SLAVE=y

# MQTT device ID for slave and enable RL control
CONFIG_FTS_MQTT_DEVICE_ID="slave4"
CONFIG_FTS_MQTT_ENABLE_CONTROL=y

# XIAO ESP32-C3 has no user LED
CONFIG_FTS_LED_ENABLED=n
